* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

figure,
.menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 100%;
}

header,
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-media ul {
  display: flex;
  justify-content: center;
}

.social-media li {
  width: 12%;
  margin: 0 4%;
}

.social-media img {
  width: 100%;
}
