

/* Add style rule to change the color of the phone number text to white */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Simonetta', cursive;
}

.yoga-header h1 {
  font-family: 'Bilbo', cursive;
}

figure,
.menu-container {
  width: 100%;
  margin: 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.menu-container,
.location {
  width: 100%;
  background-color: #F4D03F;
  color: white;
  padding: 10% 0;
}

.navigation li {
  padding: 3%;
}

figure img {
  width: 100%;
}

header,
footer {
  width: 100%;
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  list-style: none;
  display: block;
}

a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 5px;
}

a:active {
  border: 2px solid white;
}

a:visited {
  color: white;
}

.location {
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  color: white;
}

.address:last-child {
  color: white;
  text-decoration: none;
}

.social-media ul {
  display: flex;
  justify-content: center;
}

.social-media li {
  width: 12%;
  margin: 0 4%;
}

.social-media img {
  width: 100%;
}
