* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Simonetta', cursive;
}

header {
  width: 100%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  margin: 14% 0;
}

.yoga-header h1 {
  font-family: 'Bilbo', cursive;
}

.menu-container {
  background-color: #F4D03F;
  padding: 10% 0;
}

.menu-container {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navigation li {
  list-style: none;
  padding: 3%;
}

a {
  text-decoration: none;
  padding: 5px;
}

a:active {
  border: 2px solid white;
}

a:visited {
  color: white;
}

.studio {
  width: 100%;
  margin: 10% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

footer {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  width: 100%;
  margin-bottom: 15%;
  padding: 10% 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;

  color: white;
  background-color: #F4D03F;
}

.yoga-pillows {
  margin-bottom: 15%;
}

.address:last-child {
  color: white;
  text-decoration: none;
}

.social-media ul {
  display: flex;
  justify-content: center;
}

.social-media li {
  width: 12%;
  margin: 0 4%;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 960px) {
  .yoga-header {
    font-size: 1.5rem;
    margin: 10% 0 20% 0;
  }

  .photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0 0 0;
  }

  .menu-container {
    margin: 0;
    padding: 2.5%;
  }

  .studio {
    margin: 20% 0;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.5rem;
  }

  a {
    padding: 10px;
  }

  a:hover {
    text-decoration: underline;
  }

  .social-media img {
    width: 50%;
  }

  footer {
    margin: 0 0 5% 0;
  }

  .location {
    margin: 0;
    padding: 5% 0;
    font-size: 1rem;
  }

  .yoga-pillows {
    text-align: center;
    margin: 20% 0;
  }

  .social-media li {
    width: 5%;
    margin: 0 2%;
  }
}
