* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Merienda", cursive;
}

.yoga-header {
  padding: 40px 0 20px 0;
  width: 60%;
  text-align: center;
}

h1 {
  color: #F4D03F;
  font-family: "Sacramento", cursive;
  font-size: 52px;
}

h4 {
  color: #F4D03F;
  font-size: 26px;
}

.menu-container {
   width: 50%;
}

.navigation {
  padding: 40px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

a:visited {
  color: white;
}

.yogastudio {
  width: 100%;
  height: auto;
}

.end {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  margin: 30px 0 60px 0;
}

.address {
  font-size: 1.25em;
  color: #F4D03F;
}

.copyright {
  font-size: .8em;
  color: #F8C471;
}

.social-media li {
  display: inline;
}

.social-media img {
  width: 50px;
}

@media (max-width: 500px) {
  .yoga-header {
    width: auto;
    margin: 10vh 0;
    padding: 0;
  }

  .menu-container {
    /*border: 1px solid black;*/
    width: 100vw;
    margin-bottom: 15%;
    padding: 10% 0;
    background-color: #F4D03F;
  }

  .menu-container li {
    list-style: none;
    display: block;
    /*border: 1px solid red;*/
    color: white;
  }

  .navigation {
    height: 36vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .end {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 30px 0;
  }

  .social-media {
    margin-top: 30px;
  }
}
